<form class="" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control"><input type="number" required style="width:100px" class="input" placeholder="Amount" name="amount" [ngModel]="item.amount"></p>
      </div>
      <div class="field">
        <p class="control"><input type="text" required class="input" placeholder="Description" name="description" [ngModel]="item.description"></p>
      </div>
      <div class="field is-narrow">
      <button type="submit" class="button " [ngClass]="{'is-primary': !isNewItem, 'is-success': isNewItem }" [disabled]="!itemForm.valid">
        <p >Add</p>
      </button>
      </div>
    </div>
  </div>
</form>
